* {
    font-size: 1.2rem;
}
.accordion-menu li a {
    font-size: 1.15rem;
    font-weight: normal;
}
.adminForm,
.categoryForm,
.subForm,
.galleryForm {
    display: flex;
    justify-content: center;
}
.adminForm .card,
.categoryForm .card,
.subForm .card,
.galleryForm .card {
    width: 70%;
}

.adminDetails,
.categoryDetails,
.subcategoryDetails,
.productDetails {
    display: flex;
    justify-content: center;
    width: 80vw;
    margin-bottom: 2rem;
}
.adminDetails .card,
.categoryDetails .card,
.subcategoryDetails .card,
.productDetails .card {
    width: 70%;
}
.galleryForm {
    margin-bottom: 2rem;
}
.list-profile {
    margin-top: 2rem;
}

.list-profile > li {
    padding-top: 2rem;
}
.list-gallery > li {
    padding-top: 0;
    padding-right: 1rem;
}
/* .my-active span{
    background-color: #5cb85c !important;
    color: white !important;
    border-color: #5cb85c !important;
} */
.div-body {
    display: contents;
    margin-top:20px;
    background:#eee;
}

.thumb {
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    width: 100%;
}
.thumb-img {
    border-radius: 2px;
    overflow: hidden;
    width: 100%;
}
.gal-detail h4 {
    margin: 16px auto 10px auto;
    width: 80%;
    white-space: nowrap;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}
.gal-detail .ga-border {
    height: 3px;
    width: 140px;
    background-color: #2822df;
    margin: 10px auto;
}
.actionbtns {
    display: flex;
    justify-content: space-between;
}

.actionbtns i{
    font-size: 2.25rem;
}